.wrapper {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-revert {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}

.btn-revert:hover {
    background: rgba(0,0,0,0.1);
}

.btn-revert:focus {
    border: inset 1px rgba(0,0,0,0.4), outset 2px rgba(0,0,0,0.4); ;
}